name: Post New Jobs

on:
  push:
    branches:
      - main

jobs:
  jobs-poster:
    runs-on: ubuntu-latest
    name: Run Jobs Poster
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - id: updater
        name: Job Updater
        uses: rseng/jobs-updater@4801be7b5ce5582b10b4062a8ff5ea16372614c1
        with:
          filename: "_data/jobs.yml"

          # Fields to include (all but url will have title before)
          keys: "name,location,url"

          # Field to determine job uniqueness
          unique: "url"

          deploy: true
          test: false

          # Also deploy to BlueSky (all secrets required in repository secrets)
          bluesky_deploy: true
          bluesky_password: ${{ secrets.BLUESKY_PASSWORD }}
          bluesky_email: ${{ secrets.BLUESKY_EMAIL }}

      - run: echo ${{ steps.updater.outputs.fields }}
        name: Show Fields Used
        shell: bash

      - run: echo ${{ steps.updater.outputs.matrix }}
        name: Show New Jobs
        shell: bash
